<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@android:color/white">
<!--Toolbar-->
    <android.support.v7.widget.Toolbar
        android:id="@+id/toolbar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:minHeight="?attr/actionBarSize"
        android:background="#AA2D19"
        app:popupTheme="@style/ThemeOverlay.AppCompat.Light"
        app:layout_scrollFlags="scroll|enterAlways" />
<!--Menu-->
    <android.support.v4.widget.DrawerLayout
        android:id="@+id/drawer_layout"
        android:layout_height="match_parent"
        android:layout_width="match_parent">
        <android.support.design.widget.NavigationView
            android:id="@+id/nav_view"
            android:layout_height="match_parent"
            android:layout_width="200dp"
            android:layout_gravity="start"
            android:fitsSystemWindows="true"
            app:menu="@menu/menu" />
    <!--Cuerpo-->
        <TableLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:stretchColumns="1">
            <TableRow>
                <ImageView
                    android:layout_width="match_parent"
                    android:layout_height="112.5dp"
                    android:id="@+id/imageView1"
                    android:backgroundTintMode="src_in"
                    android:background="@drawable/ff2"
                    android:layout_span="2" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <TextView
                    android:text="Clientes:"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/textView2"
                    android:layout_marginTop="35.0dp"
                    android:layout_marginLeft="53.0dp"
                    android:layout_marginBottom="4.5dp"
                    android:textColor="@android:color/black"
                    android:layout_span="2" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <Spinner
                    android:layout_width="match_parent"
                    android:layout_height="28.0dp"
                    android:id="@+id/spinner1"
                    android:layout_marginLeft="53.0dp"
                    android:layout_marginRight="66.5dp"
                    android:layout_span="2"
                    android:background="@drawable/spinnerstyle"
                    android:paddingStart="15dp" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <TextView
                    android:text="Punto de Facturación:"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="214.5dp"
                    android:layout_height="wrap_content"
                    android:id="@+id/textView3"
                    android:layout_marginLeft="53.0dp"
                    android:layout_marginTop="13.5dp"
                    android:layout_marginBottom="4.5dp"
                    android:textColor="@android:color/black"
                    android:layout_span="2" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <Spinner
                    android:layout_width="match_parent"
                    android:layout_height="28.0dp"
                    android:id="@+id/spinner2"
                    android:layout_marginRight="66.5dp"
                    android:layout_marginLeft="53.0dp"
                    android:layout_span="2"
                    android:background="@drawable/spinnerstyle"
                    android:paddingStart="15dp" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <TextView
                    android:text="Desde:"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/textView4"
                    android:layout_marginTop="17.0dp"
                    android:layout_marginLeft="53.0dp"
                    android:layout_marginBottom="4.5dp"
                    android:textColor="@android:color/black"
                    android:layout_span="2" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <ImageButton
                    android:layout_column="0"
                    android:id="@+id/imageButton2"
                    android:backgroundTintMode="src_in"
                    android:background="@drawable/calendario"
                    android:layout_marginLeft="53.0dp"
                    android:layout_height="34.5dp"
                    android:layout_width="37dp" />
                <EditText
                    android:inputType="date"
                    android:layout_column="1"
                    android:id="@+id/editText5"
                    android:layout_width="226.5dp"
                    android:layout_height="39.5dp"
                    android:layout_marginRight="65.5dp"
                    android:background="@drawable/spinnerstyle" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <TextView
                    android:text="Hasta:"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/textView5"
                    android:layout_marginLeft="53dp"
                    android:layout_marginTop="7.0dp"
                    android:textColor="@android:color/black"
                    android:layout_span="2" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <ImageButton
                    android:layout_column="0"
                    android:id="@+id/imageButton3"
                    android:backgroundTintMode="src_in"
                    android:background="@drawable/calendario"
                    android:layout_marginLeft="53.0dp"
                    android:layout_height="34.5dp"
                    android:layout_width="37dp" />
                <EditText
                    android:inputType="none"
                    android:layout_column="1"
                    android:id="@+id/editText4"
                    android:layout_width="226.5dp"
                    android:layout_height="39.5dp"
                    android:layout_marginRight="65.5dp"
                    android:background="@drawable/spinnerstyle" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <TextView
                    android:text="Moneda"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/textView6"
                    android:textColor="@android:color/black"
                    android:layout_marginLeft="53dp"
                    android:layout_marginTop="8.0dp"
                    android:layout_span="2" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <Spinner
                    android:layout_width="match_parent"
                    android:layout_height="28.0dp"
                    android:id="@+id/spinner3"
                    android:layout_marginLeft="53dp"
                    android:layout_marginRight="66.5dp"
                    android:layout_span="2"
                    android:background="@drawable/spinnerstyle"
                    android:paddingStart="15dp" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <ImageButton
                    android:layout_width="60.0dp"
                    android:layout_height="wrap_content"
                    android:id="@+id/imageButton1"
                    android:backgroundTintMode="src_in"
                    android:background="@drawable/flecha1"
                    android:layout_marginLeft="144.0dp"
                    android:layout_marginTop="0.0dp"
                    android:layout_marginBottom="0.0dp"
                    android:layout_span="2"
                    android:layout_marginRight="144.0dp" />
            </TableRow>
        </TableLayout>
    <!--Fin-cuerpo-->
    </android.support.v4.widget.DrawerLayout>
</LinearLayout>