<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#F9F9F9"
    android:minWidth="25px"
    android:minHeight="25px">
<!--Menú Toolbar-->
    <android.support.v7.widget.Toolbar
        android:id="@+id/toolbar"
        android:layout_width="fill_parent"
        android:minHeight="?attr/actionBarSize"
        android:background="#a7251c"
        android:layout_height="wrap_content">
        <TextView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="Gráfico Histórico de Precios"
            android:textColor="#FFFFFF"
            android:textSize="15dp"
            android:layout_gravity="center"
            android:id="@+id/toolbar_title"
            android:textStyle="bold" />
        <TextView
            android:background="#FFFFFF"
            android:layout_width="63dp"
            android:layout_height="wrap_content"
            android:text="Modo Offline"
            android:textColor="#a7251c"
            android:layout_gravity="right"
            android:textSize="9dp"
            android:id="@+id/modooff"
            android:textStyle="bold"
            android:padding="5dp"
            android:minLines="1"
            android:maxLines="1"
            android:visibility="visible"
            android:gravity="center"
            android:layout_marginTop="27.0dp"
            android:layout_marginBottom="0.0dp"
            android:layout_marginRight="10.0dp" />
    </android.support.v7.widget.Toolbar>
    <LinearLayout
        android:id="@+id/linearLayout1"
        android:background="#175e1d"
        android:backgroundTint="#fff9f9f9"
        android:gravity="center"
        android:layout_marginLeft="5dp"
        android:layout_width="match_parent"
        android:layout_marginRight="10dp"
        android:layout_marginTop="10dp"
        android:layout_height="match_parent"
        android:layout_marginBottom="156.0dp"
        android:layout_alignParentBottom="true"
        android:layout_alignBottom="@id/toolbar"
        android:layout_below="@id/toolbar" />
    <LinearLayout
        android:id="@+id/linearLayout2"
        android:background="#175e1d"
        android:backgroundTint="#fff9f9f9"
        android:gravity="center"
        android:layout_marginLeft="5dp"
        android:layout_width="match_parent"
        android:layout_marginRight="5.0dp"
        android:layout_marginTop="0.0dp"
        android:layout_height="156.0dp"
        android:layout_marginBottom="0.0dp"
        android:layout_alignParentBottom="true"
        android:layout_alignBottom="@id/toolbar" />
</RelativeLayout>